.enca{

background: rgba(74,76,92,0.5);
overflow: hidden;;
widows: 100%;
margin-bottom: 20px;
top: 0;
left: 0;
z-index: 100;
position: fixed;
width: 100%;
}

.wrapper{

width: 90%;
max-width: 1180px;
margin: auto;
overflow: hidden;

}
.logo{

color: #fff;
font-size: 40px;
font-family: Berlin  Sans FB;
line-height: 70px;
float: left;

}

.cabpres{

line-height: 70px;
float: right;
}

.cabpres a{

color: #fff;
display: inline-block;
text-decoration: none;
font-family: Arial Narrow;
font-weight: :bold;
padding: 20px 10px;
line-height: normal;
font-size: 16px;
-webkit-transition: all 500ms ease;
transition: all 500ms ease;

}

.cabpres a:hover{

color:#33cccc;
border-bottom: 5px solid #33cccc;

}

@media only screen and (min-width: 400px) and
(max-width: 767px){

	.encab{
		height: 70px;
		}
	.logo{
		font-size: 30px;
		margin-left: 130px;
		margin-top: -15px;
		}
	.cabpres{
		margin-top: -40px;
		transform: translateX(-3%);
		}
}

#botonlg{

background-color: #E8F0FE;
border-radius: 5px 5px 5px 5px;
font-family: tahoma;
font-weight: bold;
transition: 0.5s all ease-out;
width: 100px;
height: 30px;


}

#botonlg:hover{

background-color: #9DC6C7;

}

.label{

font-family: consolas;
size: 3;

}

.cajalg{
font-family: tahoma;
font-size: 15px;
margin: auto;
transition: 0.5s all ease-out;
width: 90%;
}

.cajalg:focus{

background-color: #E8F0FE;
width: 93%;
transition: 0.5s all ease-out;

}

.paginador ul{
	padding: 15px;
	list-style: none;
	background: #FFF;
	margin-top: 15px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
}
.paginador a, .pageSelected{
	color: #428bca;
	border: 1px solid #ddd;
	padding: 5px;
	display: inline-block;
	font-size: 14px;
	text-align: center;
	width: 35px;
}
.paginador a:hover{
	background: #ddd;
}
.pageSelected{
	color: #FFF;
	background: #428bca;
	border: 1px solid #428bca;
}

.form_search{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	float: right;
	background: initial;
	padding: 10px;
	border-radius: 10px;
}
.form_search .btn_search{
	background: #1faac8;
	color: #FFF;
	padding: 0 20px;
	border: 0;
	cursor: pointer;
	margin-left: 10px;
}
